@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Schibsted+Grotesk:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
    font-family: 'Roboto Condensed', sans-serif;
    /* 
    Poppins 
    moontsprot
    roboto
    open sons */
}

body{
    max-width: 1920px;
    max-height: 1280px;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    background-color: #0D0D0D;
}
header nav ul  {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
header nav ul a {
    display: block;
    line-height: 40px;
    color: #ffffff;
    margin: 10px 0;
}
header nav ul li {
    position: relative;
}
header nav ul li a.loginBtn {
    border: 1px solid #ffffff;
    padding: 0 20px;
    transition-duration: 0.5s;
    border-radius: 5px;
}
header nav ul li a.loginBtn:hover {
    background-color: #ffffff;
    color: black;
}
header .logo{
    display: flex;
    align-items: center;
    /* font-size: 3rem; */
    color: #ffffff;
    
}
header nav ul ul {
    position: absolute;
    display: block;
    padding: 0 15px;
    border-radius: 0 0 5px 5px;
    background-color: rgb(78, 78, 78);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
}
header nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

.Schibsted {
    font-family: 'Schibsted Grotesk', sans-serif;
}



#banner {
    width: 100%;
    height: calc(100vh - 68px);
    overflow: hidden;
    position: relative;
    z-index: -1 ;
}

#banner::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #000000, #00000025);
    position: absolute;
    top: 0;
    left: 0;
}

#banner img{
    display: block;
    width: 100%;
    object-fit: cover;
}

#banner .conteudo {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    z-index: 1;
    padding: 50px;
    backdrop-filter: blur(4px);
}

#banner .conteudo h1 {
    font-size: 46px;
    color: #ffffff;
    margin-bottom: 16px;
}
#banner .conteudo p {
    color: #ffffff;
    margin-bottom: 26px;
}

#banner .conteudo a{
    display: inline-block;
    border: 2px solid #ffffff;
    line-height: 40px;
    padding: 26px;
    color: #ffffff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#banner .conteudo a::after {
    content: "";
    width: 0%;
    height: 0%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff80;    
}

#banner .conteudo a:active::after {
    width: 100px;
    height: 100px;
    opacity: 0%;
    transition: all 400ms ease;
}

#sobre {
    height: 100vh;
    padding: 60px 0;
    background-image: url("./src/imagens/wave1.svg"), url("./src/imagens/wave2.svg");
    background-repeat: no-repeat;
    background-position: bottom, top;
    display: flex;
    align-items: center;
    /* background-color: #BF9926; */
}

/* #sobre {
    background-image: url("./src/imagens/wave1.svg");
    transform: scaleX(-1);
} */

#sobre .container {
    padding: 0 120px;
}

#sobre h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 56px;
}

#sobre h2 + p {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
#sobre ul {
    display: flex;
    margin-top: 36px;
    justify-content: space-between;
    gap: 50px;
}

#sobre ul li {
    padding: 26px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #00000065;
    background-color: #ffffff;
}

#sobre ul li .icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #999999;
    margin-bottom: 16px;
}
#sobre ul li h5 {
    font-size: 20px;
}

#depoimentos {
    padding: 60px 0;
}
#depoimentos .container {
    padding: 0 120px;
}
#depoimentos h2 {
    font-size: 48px;
    text-align: center;
}
#depoimentos ul {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

#depoimentos ul li {
    padding: 26px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #00000030;
}

#depoimentos ul li h5 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

#depoimentos ul li h5 .foto {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #999999;
}

footer {
    padding: 4rem 0;
    /* width: 100%;
    height: 100%; */
    color: #ffffff;
    background-color: #000000;
}
footer p {
    color: #ffffff;
}

footer .container {
    padding: 0 8rem;
    display: flex;
    gap: 3.5rem;
    
}

footer .item {
    flex: 1;
}

footer h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

footer p {
    
    font-size: 1rem;
    line-height: 1.2;
}

footer .item:nth-child(1) ul {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    text-align: center;
}

footer .item:nth-child(1) ul li i{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25px;
    text-align: center;
    background-color: #00000025;
    line-height: 2.5rem;
    transition-duration: 0.2s;
    
}

footer .item:nth-child(1) ul li i:hover{
    background-color: #ffffff;
    color: #263440;
}

footer .item:nth-child(2) ul{
    margin-top: 1rem;
}
footer .item:nth-child(2) ul li a{
    line-height: 2rem;
    /* color: #00000080; */
    transition-duration: 0.2s;
}
footer .item:nth-child(2) ul li a:hover{
    color: #ffffff;
    padding: 1rem;
}

footer .wtt {
    display: flex;
    gap: 1rem;
    gap: 1rem;
    align-items: center;
    padding: 0 1.5rem;
    color: #ffffff;
    background-color: #25D366;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    justify-content: center;
}

footer .wtt:hover {
    background-color: #1da850;
}

footer .wtt i {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

footer .container + h6 {
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
}